{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ url("form") }}">Retour</a>

<div class="movies-container">
  {% for movie in movies %}
    <div class="movie-container">
        <div class="movie-image">
                <img src="{{poster_url}}{{movie.poster_path}}" alt="Card image cap">
                <a href="{{ url("addToList", {id: movie.id})}}" class="btn-list"> ❤️ </a> 
                <div class="movie-info">
                        <h3>{{movie.title}}</h3>
                        <p>{{movie.release_date}}</p>
                        <a href="{{ url("movie", {id: movie.id})}}">See more</a>
                </div>
        </div>
    </div>       
  {% endfor %}
</div>


{% endblock %}