{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ url("form") }}">Retour</a>

<div class="movie">
    <div >
        <img src="{{poster_url}}{{movie.poster_path}}" alt="image movie">
        
        <div class="movie-page">
          <h5>{{movie.title}}</h5>
          <p>{{movie.release_date}}</p>
          <p>{{movie.overview}}</p>
        </div>
    </div>
</div>



{% endblock %}