{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ url("form") }}">Retour</a>

<div>
    <div style="width: 36rem;">
        <img src="{{poster_url}}{{movie.poster_path}}" alt="Card image cap">
        <div>
          <h5>{{movie.title}}</h5>
          <p>{{movie.release_date}}</p>
          <p>{{movie.overview}}</p>
        </div>
    </div>
</div>



{% endblock %}