{% extends 'base.html.twig' %}

{% block title %}Actors {% endblock %}

{% block body %}

<a class="btn" href="/actor">Retour</a>

<div>
{% for person in actor %}
<div>
        <div>
                <img  src="{{profil_url}}{{person.profile_path}}" alt="actor-image">
                <div>
                        <h5 >{{person.name}}</h5>
                        <p>{{person.known_for_department}}</p>
                        <a href="{{ url("one-actor", {id: person.id})}}" class="btn">En savoir plus</a>
                </div>
        </div>
    </div>
{% endfor %}
    
</div>

{% endblock %}
