{% extends 'base.html.twig' %}

{% block title %}Actor - {{actor.name}}{% endblock %}

{% block body %}

<a href="/actor">Retour</a>

<div class="actor-container">
  <div>
    <div>
      <div>
    <img src="{{profil_url}}{{actor.profile_path}}" alt="Card image cap">
    <div>
      <h5>{{actor.name}}</h5>
      <p>{{actor.known_for_department}}</p>
      <p>{{actor.biography}}</p>
    </div>
  </div>
    </div>
    <div>
      <h2>Movies :</h2>
      <div>
      {% for id in 0..5  %}
        <div>
          <img  src="{{profil_url}}{{movies[id].poster_path}}" alt="Card image cap">
          <div>
            <h5>{{movies[id].title}}</h5>
          </div>
        </div>
      {% endfor %}
    </div>
    </div>
  </div>    
</div>

{% endblock %}
